## Explorar las bases de datos

Este es un notebook auxiliar para explorar las bases de datos en sus distintos niveles de agregaci√≥n, en su estado actual.

In [64]:
from scripts.create_indicators import get_or_create_indicators_df
import pandas as pd
from scripts.data_loaders import read_dbf
from scripts.path_finders import get_indicators_shp_path

In [65]:
df_radio = get_or_create_indicators_df("RADIO")
df_frac = get_or_create_indicators_df("FRAC")
df_comuna = get_or_create_indicators_df("DPTO")
df_caba = get_or_create_indicators_df("PROV")
df_barrio = read_dbf(get_indicators_shp_path("barrios_censo_2010") + ".dbf")

In [66]:
os.path.isdir(u'/Users/abenassi/github/tod/indicadores/barrios_censo_2010/barrios_censo_2010')

False

In [67]:
df_radio.columns

Index([u'inact', u'ocup_viv', u'0_14', u'15_64', u'mas_65', u'hab',
       u'con_satisf', u'con_basica', u'con_insuf', u'serv_satisf',
       u'serv_basica', u'serv_insuf', u'nbi', u'hac-149', u'hac+150',
       u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad', u'educ_sup',
       u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area', u'COMERCIAL',
       u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'educ_priv', u'educ_pub',
       u'hospitales', u'esp_verde', u'nse_alt', u'RESIDENCIAL', u'hab_km2',
       u'reach_prop', u'CO_FRAC_RA', u'empleo', u'DECIL', u'desocup',
       u'hombres', u'extranjeros', u'AREA', u'area_km2'],
      dtype='object')

In [68]:
trabajo = ["empleo", "desocup", "inact"]
edad = ["0_14", "15_64", "mas_65"]
vivienda = ["con_satisf", "con_basica", "con_insuf", "hac+150", "hac-149", "serv_satisf",
            "serv_insuf", "serv_basica", "ocup_viv"]
socioeconomicos = ["nbi", "nse_alt", "nse_mex", "nse_mex_cat", "educ_sup", "compu", "escolaridad"]
transporte = ["d_subte", "d_metrobus", "d_ffcc", "reach_area"]
uso_suelo = ["COMERCIAL", "INDUSTRIAL", "OTROS", "SERVICIOS", "RESIDENCIAL"]
densidad = ["area_km2", "hab", "hab_km2"]

resto = df_radio.columns - pd.Index((trabajo + edad + edad + vivienda + socioeconomicos + 
                                     transporte + uso_suelo + densidad))
resto

/Users/abenassi/anaconda/envs/tod/lib/python2.7/site-packages/ipykernel/__main__.py:11: FutureWarning: using '-' to provide set differences with Indexes is deprecated, use .difference()

Index([u'AREA', u'CO_FRAC_RA', u'DECIL', u'educ_priv', u'educ_pub',
       u'esp_verde', u'extranjeros', u'hombres', u'hospitales', u'reach_prop'],
      dtype='object')

In [69]:
df_radio[transporte].describe()

           d_subte   d_metrobus       d_ffcc   reach_area
count  3554.000000  3554.000000  3554.000000  3554.000000
mean   1271.350369  1454.637649  1061.834984    36.130624
std    1299.627568   915.044581   533.751876    23.072104
min       0.000000     0.000000     0.000000     0.000000
25%     364.427397   696.015938   636.682819    19.273604
50%     725.157176  1383.412679  1017.853325    35.059950
75%    1760.821307  2057.768187  1457.115122    50.870438
max    5864.542096  5317.393474  3217.111978   126.354623

In [70]:
df_radio[uso_suelo].describe()

         COMERCIAL   INDUSTRIAL        OTROS    SERVICIOS  RESIDENCIAL
count  3461.000000  3461.000000  3461.000000  3461.000000  3461.000000
mean      0.128551     0.008971     0.089870     0.154489     0.617831
std       0.138415     0.015799     0.103773     0.104540     0.218489
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.030984     0.000000     0.033221     0.080969     0.477172
50%       0.082479     0.003265     0.064045     0.135713     0.655425
75%       0.182296     0.011237     0.108401     0.205472     0.787019
max       0.897467     0.175978     1.000000     1.000000     1.000000

In [71]:
df_radio[densidad].describe()

          area_km2          hab        hab_km2
count  3554.000000  3554.000000    3554.000000
mean      0.057354   813.210748   27474.770553
std       0.151590   292.823849   19280.700159
min       0.004468     0.000000       0.000000
25%       0.018628   646.250000   13175.152548
50%       0.035550   786.000000   21654.854300
75%       0.062851   928.000000   38092.448591
max       3.804692  3945.000000  163216.397275

In [72]:
df_frac[densidad].describe()

         area_km2           hab       hab_km2
count  351.000000    351.000000    351.000000
mean     0.580781   8234.048433  23213.463342
std      0.635433   2339.631842  13533.829067
min      0.085778     25.000000      3.960958
25%      0.229147   7002.500000  13324.296883
50%      0.420517   7994.000000  19753.627695
75%      0.687977   9233.500000  32335.177066
max      6.311604  24268.000000  64195.863419

In [73]:
print "Area total radio:", df_radio.area_km2.sum(), df_radio.AREA.sum() 
print "Area total fracci√≥n:", df_frac.area_km2.sum(), df_frac.AREA.sum() 
print "Area total comuna:", df_comuna.area_km2.sum(), df_comuna.AREA.sum()
print "Area total caba:", df_caba.area_km2.sum(), df_caba.AREA.sum()

Area total radio: 203.83747579 203837475.79
Area total fracci√≥n: 203.853994556 203853994.556
Area total comuna: 203.760735542 203760735.542
Area total caba: 203.760735542 203760735.542

In [74]:
print "Poblaci√≥n total radio:", df_radio.hab.sum() 
print "Poblaci√≥n total fracci√≥n:", df_frac.hab.sum() 
print "Poblaci√≥n total comuna:", df_comuna.hab.sum()
print "Poblaci√≥n total caba:", df_caba.hab.sum()

Poblaci√≥n total radio: 2890151.0
Poblaci√≥n total fracci√≥n: 2890151.0
Poblaci√≥n total comuna: 2890151.0
Poblaci√≥n total caba: 2890151.0

In [75]:
print "Densidad hab/km2", df_caba.hab.sum() / df_caba.area_km2.sum()

Densidad hab/km2 14184.04283

In [76]:
df_caba.columns

Index([u'empleo', u'desocup', u'inact', u'ocup_viv', u'0_14', u'15_64',
       u'mas_65', u'hab', u'con_satisf', u'con_basica', u'con_insuf',
       u'serv_satisf', u'serv_basica', u'serv_insuf', u'nbi', u'hac-149',
       u'hac+150', u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad',
       u'educ_sup', u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area',
       u'COMERCIAL', u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'esp_verde',
       u'nse_alt', u'RESIDENCIAL', u'area_km2', u'hab_km2', u'AREA',
       u'reach_prop', u'DECIL', u'hombres', u'extranjeros'],
      dtype='object')

In [77]:
df_comuna.columns

Index([u'empleo', u'desocup', u'inact', u'ocup_viv', u'0_14', u'15_64',
       u'mas_65', u'hab', u'con_satisf', u'con_basica', u'con_insuf',
       u'serv_satisf', u'serv_basica', u'serv_insuf', u'nbi', u'hac-149',
       u'hac+150', u'hospitales', u'educ_priv', u'educ_pub', u'hab_km2',
       u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad', u'educ_sup',
       u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area', u'COMERCIAL',
       u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'esp_verde', u'nse_alt',
       u'RESIDENCIAL', u'reach_prop', u'COMUNAS', u'DECIL', u'hombres',
       u'extranjeros', u'AREA', u'area_km2'],
      dtype='object')

In [78]:
df_radio.columns

Index([u'inact', u'ocup_viv', u'0_14', u'15_64', u'mas_65', u'hab',
       u'con_satisf', u'con_basica', u'con_insuf', u'serv_satisf',
       u'serv_basica', u'serv_insuf', u'nbi', u'hac-149', u'hac+150',
       u'd_subte', u'd_metrobus', u'd_ffcc', u'escolaridad', u'educ_sup',
       u'compu', u'nse_mex', u'nse_mex_cat', u'reach_area', u'COMERCIAL',
       u'INDUSTRIAL', u'SERVICIOS', u'OTROS', u'educ_priv', u'educ_pub',
       u'hospitales', u'esp_verde', u'nse_alt', u'RESIDENCIAL', u'hab_km2',
       u'reach_prop', u'CO_FRAC_RA', u'empleo', u'DECIL', u'desocup',
       u'hombres', u'extranjeros', u'AREA', u'area_km2'],
      dtype='object')

In [79]:
df_radio[["reach_area", "reach_prop"]].head()

            reach_area  reach_prop
Unnamed: 0
020010101    39.531283    0.194008
020010201    20.301866    0.099636
020010202    11.840268    0.058109
020010203    11.751906    0.057675
020010204    20.447229    0.100349

In [80]:
def weighted_average(df, field, weight_field):
    return ((df[field] * df[weight_field]) / df[weight_field].sum()).sum()

print weighted_average(df_radio, "esp_verde", "AREA")
print weighted_average(df_frac, "esp_verde", "AREA")
print weighted_average(df_comuna, "esp_verde", "AREA")
print weighted_average(df_caba, "esp_verde", "AREA")

0.105300164922
0.105295371776
0.105189291411
0.105300164922

In [81]:
df_radio[df_radio["hab"] == 0][["RESIDENCIAL", "COMERCIAL", "SERVICIOS", "INDUSTRIAL", "OTROS"]]

            RESIDENCIAL  COMERCIAL  SERVICIOS  INDUSTRIAL  OTROS
Unnamed: 0
020011315      0.218825    0.22494   0.443765     0.11247      0
020141002      0.000000    0.00000   0.000000     0.00000      0

In [82]:
def change_id(value):
    co, frac, ra = value.split("_")
    return "02" + "".join([co.zfill(3), frac.zfill(2), ra.zfill(2)])

In [83]:
df_radio[pd.isnull(df_radio.desocup)]

Empty DataFrame
Columns: [inact, ocup_viv, 0_14, 15_64, mas_65, hab, con_satisf, con_basica, con_insuf, serv_satisf, serv_basica, serv_insuf, nbi, hac-149, hac+150, d_subte, d_metrobus, d_ffcc, escolaridad, educ_sup, compu, nse_mex, nse_mex_cat, reach_area, COMERCIAL, INDUSTRIAL, SERVICIOS, OTROS, educ_priv, educ_pub, hospitales, esp_verde, nse_alt, RESIDENCIAL, hab_km2, reach_prop, CO_FRAC_RA, empleo, DECIL, desocup, hombres, extranjeros, AREA, area_km2]
Index: []

[0 rows x 44 columns]

In [84]:
#from scripts.path_finders import get_indicators_path
#df_comuna.drop_duplicates("COMUNAS", keep="first").to_csv(get_indicators_path("DPTO"), encoding="utf-8")

In [85]:
len(df_radio), len(df_frac), len(df_comuna)

(3554, 351, 15)

In [86]:
def check_null_values(df, indic):
    nulls = df[pd.isnull(df[indic])][indic]
    print "{}/{} ({:.2%}) NaNs in {}".format(len(nulls), len(df), len(nulls)/float(len(df)), indic)
    return nulls

In [87]:
check_null_values(df_radio, "nse_mex_cat")

2/3554 (0.06%) NaNs in nse_mex_cat

Unnamed: 0
020041008   NaN
020041801   NaN
Name: nse_mex_cat, dtype: float64

In [88]:
check_null_values(df_radio, "nse_alt")

0/3554 (0.00%) NaNs in nse_alt

Series([], Name: nse_alt, dtype: int64)

In [89]:
check_null_values(df_radio, "DECIL")

1/3554 (0.03%) NaNs in DECIL

Unnamed: 0
020011302   NaN
Name: DECIL, dtype: float64

In [90]:
check_null_values(df_radio, "COMERCIAL")

93/3554 (2.62%) NaNs in COMERCIAL

Unnamed: 0
020010201   NaN
020010203   NaN
020010205   NaN
020010206   NaN
020010207   NaN
020010208   NaN
020010209   NaN
020010210   NaN
020010211   NaN
020010213   NaN
020010214   NaN
020010215   NaN
020010216   NaN
020010217   NaN
020010218   NaN
020010219   NaN
020010301   NaN
020010302   NaN
020010303   NaN
020010304   NaN
020010305   NaN
020010306   NaN
020010307   NaN
020010308   NaN
020010309   NaN
020010310   NaN
020010311   NaN
020010312   NaN
020010313   NaN
020010314   NaN
             ..
020071708   NaN
020071709   NaN
020071711   NaN
020071803   NaN
020071805   NaN
020071807   NaN
020071811   NaN
020080106   NaN
020080206   NaN
020080509   NaN
020080511   NaN
020080704   NaN
020080705   NaN
020080707   NaN
020080708   NaN
020081402   NaN
020081502   NaN
020081504   NaN
020081601   NaN
020081602   NaN
020081603   NaN
020081604   NaN
020081605   NaN
020081606   NaN
020081607   NaN
020081608   NaN
020081609   NaN
020091408   NaN
020121903   NaN
020132909   NaN
Name: COMERCIAL, dtype: float64

In [91]:
check_null_values(df_barrio, "COMERCIAL")

0/48 (0.00%) NaNs in COMERCIAL

Series([], Name: COMERCIAL, dtype: float64)

In [92]:
df_radio.nse_mex.max()

10.0

In [96]:
df_barrio.sort("nse_mex")

/Users/abenassi/anaconda/envs/tod/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,BARRIOS,COMUNA,NUM_DE_BAR,0_14,15_64,COMERCIAL,DECIL,INDUSTRIAL,OTROS,RESIDENCIAL,...,nse_mex,nse_mex_cat,ocup_viv,reach_area,reach_prop,serv_basica,serv_insuf,serv_satisf,area_km2,hab_km2
46,VILLA SOLDATI,8,45,0.288403,0.634583,0.029946,3.423162,0.002245,0.471424,0.329206,...,2.668777,1.617848,0.905307,12.842326,0.063026,0.024304,0.064217,0.911480,8.660529,5400.711408
39,VILLA LUGANO,8,40,0.246578,0.646702,0.039677,4.705917,0.007317,0.261885,0.581331,...,3.214593,2.198707,0.895087,30.706253,0.150698,0.020827,0.052101,0.927072,9.293323,13597.371963
3,BARRACAS,4,4,0.225098,0.665565,0.052253,5.359946,0.009213,0.116366,0.617515,...,3.885541,2.705664,0.866617,25.615335,0.125713,0.028212,0.059238,0.912551,7.908911,11234.382994
18,NUEVA POMPEYA,4,19,0.193378,0.651683,0.055509,6.506657,0.009434,0.098484,0.703846,...,3.974002,2.759271,0.845792,49.680434,0.243818,0.013872,0.018649,0.967478,4.969107,8593.740269
5,BOCA,4,6,0.213472,0.661061,0.048084,5.773218,0.016140,0.239937,0.444954,...,4.084703,2.877340,0.860771,36.716841,0.180196,0.015299,0.045489,0.939211,5.024630,8969.075938
21,PARQUE AVELLANEDA,9,22,0.210329,0.650339,0.054038,6.401310,0.003836,0.152572,0.656785,...,4.142542,2.784452,0.877097,43.052289,0.211288,0.011185,0.020683,0.968132,4.733302,11241.771417
44,VILLA RIACHUELO,8,43,0.183341,0.651211,0.080409,7.128288,0.001431,0.203834,0.436907,...,4.340690,3.063758,0.837653,35.517590,0.174310,0.008921,0.010198,0.980881,4.224142,3332.911310
15,MATADEROS,9,16,0.183152,0.645590,0.061036,7.242917,0.012801,0.068987,0.738886,...,4.388763,3.094210,0.834141,31.903543,0.156574,0.008841,0.014092,0.977067,7.398565,8710.451685
11,CONSTITUCION,1,10,0.166265,0.686045,0.195662,6.627002,0.007250,0.180004,0.393583,...,4.491312,3.172087,0.802983,54.351903,0.266744,0.005950,0.055637,0.938413,2.102671,20966.575517
12,FLORES,7,13,0.194527,0.655309,0.107078,7.037866,0.007308,0.152110,0.594270,...,4.755019,3.376654,0.834713,35.571491,0.174575,0.010201,0.019050,0.970750,8.594550,19118.114185
24,PARQUE PATRICIOS,4,24,0.186679,0.664050,0.082059,7.449917,0.013650,0.166859,0.526884,...,4.817588,3.459979,0.826431,49.693368,0.243881,0.007038,0.016160,0.976803,3.743274,10951.138292
25,PATERNAL,15,25,0.174619,0.669116,0.031670,7.694508,0.020158,0.190612,0.622614,...,4.847456,3.542139,0.833195,33.221664,0.163043,0.009033,0.026638,0.964329,2.229856,8845.012207
14,LINIERS,9,15,0.164822,0.648371,0.090293,8.146790,0.005992,0.082638,0.664201,...,4.970805,3.529295,0.791347,34.439887,0.169021,0.003850,0.006569,0.989581,4.374208,10086.704928
30,SAN CRISTOBAL,3,29,0.159637,0.677174,0.120132,7.894849,0.010118,0.112230,0.574301,...,5.100346,3.714004,0.808303,44.612229,0.218944,0.004370,0.013423,0.982207,2.043953,23788.973332
13,FLORESTA,10,14,0.173944,0.657666,0.164546,8.062561,0.004400,0.085766,0.639769,...,5.103195,3.611788,0.814504,40.268031,0.197624,0.003162,0.010696,0.986142,2.321309,16191.127835
17,MONTE CASTRO,10,17,0.162801,0.661777,0.066465,8.259987,0.006485,0.058593,0.726765,...,5.162597,3.780793,0.824000,29.452830,0.144546,0.003053,0.005081,0.991866,2.625869,12796.956746
28,RETIRO,1,27,0.189016,0.683534,0.162171,6.441877,0.001545,0.267776,0.222832,...,5.186333,3.748412,0.709337,25.599055,0.125633,0.019066,0.058509,0.922425,4.547766,14375.762882
40,VILLA LURO,10,41,0.165560,0.665399,0.048658,8.391602,0.005153,0.071472,0.773972,...,5.250155,3.881234,0.808725,28.341981,0.139094,0.004676,0.004588,0.990736,2.566739,12664.230582
33,VELEZ SARSFIELD,10,32,0.163580,0.655830,0.062630,8.425111,0.007130,0.066176,0.762251,...,5.268405,3.855512,0.819676,40.622857,0.199365,0.006007,0.007556,0.986437,2.400949,14611.899123
43,VILLA REAL,10,42,0.161195,0.649906,0.053874,8.390121,0.003849,0.073495,0.789603,...,5.320548,3.948252,0.821125,38.163397,0.187295,0.006596,0.003201,0.990202,1.334764,10057.998693
6,BOEDO,5,7,0.164968,0.674356,0.080135,8.310680,0.008046,0.080773,0.708832,...,5.323272,3.889849,0.811077,52.057312,0.255483,0.006409,0.007494,0.986098,2.607835,18126.191281
38,VILLA GRAL. MITRE,11,37,0.172068,0.671770,0.077115,8.494501,0.013181,0.080511,0.707117,...,5.409143,3.986714,0.824602,32.759943,0.160777,0.003701,0.005785,0.990514,2.162702,16054.367679
2,BALVANERA,3,3,0.146414,0.694540,0.266464,8.289002,0.010225,0.109981,0.372964,...,5.409201,3.929209,0.738772,45.922292,0.225374,0.002449,0.017314,0.980237,4.341064,31997.971024
45,VILLA SANTA RITA,11,44,0.173798,0.658742,0.057990,8.629182,0.005762,0.067598,0.776139,...,5.442134,3.978189,0.817991,31.843129,0.156277,0.005715,0.016403,0.977882,2.153947,15473.128937
16,MONSERRAT,1,18,0.131162,0.721800,0.163032,8.253788,0.008624,0.207396,0.321825,...,5.478771,3.999140,0.681176,46.314477,0.227298,0.004491,0.029774,0.965735,2.200625,18143.228811
22,PARQUE CHACABUCO,7,23,0.164143,0.659409,0.055433,8.568221,0.007963,0.103141,0.707267,...,5.541289,4.065705,0.830231,37.581896,0.184441,0.005080,0.010743,0.984176,3.833086,14688.391939
34,VERSALLES,10,33,0.169206,0.649700,0.058820,8.818605,0.008241,0.060083,0.794461,...,5.653395,4.132476,0.813585,34.545923,0.169542,0.002749,0.002196,0.995055,1.407297,9820.685461
8,CHACARITA,15,12,0.169656,0.683174,0.207294,8.224308,0.007401,0.207676,0.411995,...,5.675779,4.117026,0.787663,54.260877,0.266297,0.009124,0.026955,0.963922,3.118092,8902.070141
42,VILLA PUEYRREDON,12,39,0.157207,0.661447,0.050426,8.885411,0.003834,0.052361,0.796535,...,5.691547,4.005855,0.823198,33.495942,0.164389,0.002991,0.008053,0.988956,3.302910,12006.648521
23,PARQUE CHAS,15,48,0.155232,0.657404,0.049747,8.843362,0.004792,0.052338,0.808807,...,5.696564,4.033260,0.820981,30.283903,0.148625,0.005417,0.002228,0.992356,1.384890,12627.647201
32,SAN TELMO,1,31,0.133743,0.690781,0.138560,8.706911,0.009854,0.206225,0.409737,...,5.792365,4.206095,0.741073,43.198751,0.212007,0.003691,0.016267,0.980042,1.233153,16615.506941
36,VILLA DEL PARQUE,11,35,0.153327,0.654013,0.076943,9.112627,0.004793,0.050038,0.778487,...,5.833487,4.185519,0.813845,22.272697,0.109308,0.001900,0.001788,0.996312,3.398880,16255.795273
0,AGRONOMIA,15,1,0.160208,0.660839,0.036558,9.037064,0.006467,0.105210,0.545641,...,5.890817,4.195846,0.824421,32.327022,0.158652,0.005487,0.010246,0.984267,2.122761,6557.326184
37,VILLA DEVOTO,11,36,0.152224,0.659871,0.057299,9.080654,0.003496,0.050457,0.787576,...,5.953154,4.334713,0.806548,30.624748,0.150298,0.002748,0.005197,0.992055,6.403818,10387.365512
29,SAAVEDRA,12,28,0.164321,0.666189,0.055827,8.915942,0.002151,0.093475,0.754563,...,5.980812,4.337944,0.829348,30.284582,0.148628,0.003445,0.002735,0.993820,5.536171,9085.712262
41,VILLA ORTUZAR,15,38,0.164016,0.675704,0.051900,8.993228,0.014312,0.088041,0.709997,...,6.084734,4.432735,0.806245,47.855348,0.234860,0.003823,0.005702,0.990476,1.853740,11722.465212
35,VILLA CRESPO,15,34,0.147516,0.690161,0.119060,9.207127,0.009550,0.103406,0.602966,...,6.153157,4.532428,0.796478,39.804558,0.195350,0.002482,0.010039,0.987479,3.613374,22679.203050
1,ALMAGRO,5,2,0.137863,0.685971,0.134727,9.213995,0.010699,0.070705,0.619707,...,6.174727,4.510705,0.786872,41.901928,0.205643,0.001889,0.011151,0.986960,4.051223,32517.345462
47,VILLA URQUIZA,12,46,0.154784,0.670741,0.058883,9.305314,0.006754,0.100221,0.750585,...,6.232314,4.526208,0.794947,31.996016,0.157027,0.004248,0.005933,0.989819,5.448470,16804.945834
31,SAN NICOLAS,1,30,0.097468,0.754784,0.329021,9.279085,0.007655,0.135155,0.223444,...,6.438396,4.685424,0.428432,49.590541,0.243376,0.000893,0.029284,0.969823,2.288975,12780.795729
7,CABALLITO,6,8,0.142762,0.673989,0.111603,9.668820,0.015465,0.074361,0.648876,...,6.632147,4.866961,0.784825,43.444215,0.213212,0.001925,0.005117,0.992959,6.851079,25699.297170
9,COGHLAN,12,9,0.153626,0.686695,0.035637,9.746783,0.007010,0.058752,0.803275,...,6.850338,5.044221,0.793599,28.870122,0.141686,0.002037,0.002359,0.995604,1.280053,14541.346512
10,COLEGIALES,13,11,0.138050,0.672597,0.117564,9.809874,0.011474,0.096867,0.631669,...,6.952961,5.144347,0.777420,28.183811,0.138318,0.002592,0.006681,0.990728,2.288708,22966.370680
26,PUERTO MADERO,1,47,0.183033,0.743792,0.024644,7.506361,0.010965,0.426198,0.116688,...,6.973788,4.937369,0.479795,10.498969,0.051526,0.027715,0.244896,0.727389,5.285217,1184.210445
19,NU√ëEZ,13,20,0.147339,0.685451,0.056177,9.922775,0.008053,0.132843,0.451618,...,7.189123,5.302860,0.756622,29.255915,0.143580,0.001227,0.005529,0.993244,4.351538,11945.193115
4,BELGRANO,13,5,0.140138,0.663332,0.078498,9.979333,0.005584,0.186145,0.482831,...,7.503288,5.536155,0.754731,23.543612,0.115545,0.000914,0.002316,0.996770,7.929989,15987.977853
20,PALERMO,14,21,0.127300,0.693212,0.088202,9.881655,0.004556,0.186960,0.341677,...,7.553903,5.617152,0.710765,32.705250,0.160508,0.001727,0.005720,0.992552,15.773573,14327.434991
27,RECOLETA,2,26,0.110207,0.691842,0.153169,9.950535,0.007385,0.174400,0.374152,...,7.584745,5.696470,0.663684,31.315854,0.153689,0.002070,0.007802,0.990127,6.146826,25692.754909